
// form name edit

.form-contact-message-feedback-form__field-user-name-0-value{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .form-item__label {
    font-size: 14px;
    line-height: 33px;
    font-weight: 700;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 110px;
  }
  .form-item__input {
    width: 100%;
    max-width: 315px;
    height: 33px;
    vertical-align: baseline;
    border: solid 1px #ccc;
    padding: 0 5px;
  }
}


// form phone number edit

.form-contact-message-feedback-form__field-phone-0-value {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .form-item__label {
    font-size: 14px;
    line-height: 33px;
    font-weight: 700;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 110px;
  }
  #edit-field-phone-0-value {
    width: 100%;
    max-width: 315px;
    height: 33px;
    vertical-align: baseline;
    border: solid 1px #ccc;
    padding: 0 5px;
  }
}


// form e-mail edit

.form-contact-message-feedback-form__field-e-mail-0-value {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .form-item__label {
    font-size: 14px;
    line-height: 33px;
    font-weight: 700;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 110px;
  }
  #edit-field-e-mail-0-value {
    width: 100%;
    max-width: 315px;
    height: 33px;
    vertical-align: baseline;
    border: solid 1px #ccc;
    padding: 0 5px;
  }
}

//form textarea edit

.form-contact-message-feedback-form__field-your-feedback-0-value {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .form-item__label {
    font-size: 14px;
    line-height: 33px;
    font-weight: 700;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 110px;
  }
  #edit-field-your-feedback-0-value {
    width: 100%;
    max-width: 315px;
    height: 230px;
    vertical-align: baseline;
    border: solid 1px #ccc;
    padding: 0 5px;
    resize: none;
  }
}

// remove markdown title

.field--name-field-your-feedback {
  .filter-wrapper {
    display: none;
  }
}
