@charset "UTF-8";
*,
*:after,
*:before {
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background-color: #eeeeef; }

ul {
  list-style: none; }
*,
*:after,
*:before {
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  background-color: #eeeeef; }

ul {
  list-style: none; }

@font-face {
  font-family: "Material Design Icons";
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?v=3.6.95");
  src: url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.eot?#iefix&v=3.6.95") format("embedded-opentype"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff2?v=3.6.95") format("woff2"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.woff?v=3.6.95") format("woff"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.ttf?v=3.6.95") format("truetype"), url("../../node_modules/@mdi/font/fonts/materialdesignicons-webfont.svg?v=3.6.95#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal; }

a {
  color: #1976d2;
  text-decoration: none; }
  a:hover {
    color: #11508f;
    text-decoration: none; }

.breadcrumbs {
  font-size: 1rem;
  line-height: 1.5;
  background: transparent;
  padding: 0 0;
  margin-bottom: 0;
  border-radius: 4px;
  display: flex; }
  .breadcrumbs__path {
    display: inline; }
  .breadcrumbs__item-link {
    color: #1976d2; }
  .breadcrumbs__item-link--text {
    color: #202124; }
  .breadcrumbs__delimiter::after {
    margin: 0 4px;
    content: "/";
    color: #9e9e9e; }
  .breadcrumbs__current {
    display: inline; }
  @media (max-width: 47.9375em) {
    .breadcrumbs__path {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 0;
      flex-shrink: 1; }
    .breadcrumbs__delimiter:last-child {
      display: none; }
    .breadcrumbs__item-link--current::before {
      margin: 0 4px;
      content: "/";
      color: #9e9e9e; }
    .breadcrumbs__current {
      display: block;
      flex-grow: 1;
      flex-shrink: 0; } }

.button, .button--primary,
.button--action, .button--warning, .button-danger,
.button--danger, .button--success, .button--info, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent; }

.button {
  color: #606266;
  background-color: #ffffff;
  background-image: none;
  border-color: #dcdfe6;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button:focus, .button:hover {
    color: #606266;
    background-color: #e6e6e6;
    border-color: #b8becd; }
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }
  .button:disabled {
    background-color: #ffffff;
    border-color: #dcdfe6;
    opacity: .65; }
  .button:active {
    color: #606266;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #b8becd;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }

.button--primary,
.button--action {
  color: white;
  background-color: #1976d2;
  background-image: none;
  border-color: #1976d2;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--primary:focus, .button--primary:hover,
  .button--action:focus,
  .button--action:hover {
    color: white;
    background-color: #145ca4;
    border-color: #12579b; }
  .button--primary:focus,
  .button--action:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(25, 118, 210, 0.5); }
  .button--primary:disabled,
  .button--action:disabled {
    background-color: #1976d2;
    border-color: #1976d2;
    opacity: .65; }
  .button--primary:active,
  .button--action:active {
    color: white;
    background-color: #145ca4;
    background-image: none;
    border-color: #12579b;
    box-shadow: 0 0 0 3px rgba(25, 118, 210, 0.5); }

.button--warning {
  color: white;
  background-color: #ffc107;
  background-image: none;
  border-color: #edb100;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--warning:focus, .button--warning:hover {
    color: white;
    background-color: #d39e00;
    border-color: #af8300; }
  .button--warning:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5); }
  .button--warning:disabled {
    background-color: #ffc107;
    border-color: #edb100;
    opacity: .65; }
  .button--warning:active {
    color: white;
    background-color: #d39e00;
    background-image: none;
    border-color: #af8300;
    box-shadow: 0 0 0 3px rgba(255, 193, 7, 0.5); }

.button-danger,
.button--danger {
  color: white;
  background-color: #dc3545;
  background-image: none;
  border-color: #d32535;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button-danger:focus, .button-danger:hover,
  .button--danger:focus,
  .button--danger:hover {
    color: white;
    background-color: #bd2130;
    border-color: #9f1c28; }
  .button-danger:focus,
  .button--danger:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5); }
  .button-danger:disabled,
  .button--danger:disabled {
    background-color: #dc3545;
    border-color: #d32535;
    opacity: .65; }
  .button-danger:active,
  .button--danger:active {
    color: white;
    background-color: #bd2130;
    background-image: none;
    border-color: #9f1c28;
    box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5); }

.button--success {
  color: white;
  background-color: #67c23a;
  background-image: none;
  border-color: #5dae34;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--success:focus, .button--success:hover {
    color: white;
    background-color: #529b2e;
    border-color: #447f26; }
  .button--success:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(103, 194, 58, 0.5); }
  .button--success:disabled {
    background-color: #67c23a;
    border-color: #5dae34;
    opacity: .65; }
  .button--success:active {
    color: white;
    background-color: #529b2e;
    background-image: none;
    border-color: #447f26;
    box-shadow: 0 0 0 3px rgba(103, 194, 58, 0.5); }

.button--info {
  color: white;
  background-color: #9e9e9e;
  background-image: none;
  border-color: #919191;
  transition: all .15s ease-in-out;
  box-shadow: none; }
  .button--info:focus, .button--info:hover {
    color: white;
    background-color: #858585;
    border-color: #737373; }
  .button--info:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(158, 158, 158, 0.5); }
  .button--info:disabled {
    background-color: #9e9e9e;
    border-color: #919191;
    opacity: .65; }
  .button--info:active {
    color: white;
    background-color: #858585;
    background-image: none;
    border-color: #737373;
    box-shadow: 0 0 0 3px rgba(158, 158, 158, 0.5); }

.comments__content .indented {
  padding-left: 2rem; }

.contextual-region .contextual-links {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px 0 4px 4px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
  .contextual-region .contextual-links li a {
    color: inherit; }
  .contextual-region .contextual-links li:hover a {
    background: #eeeeee; }

.form-item {
  margin: 0 0 1rem; }
  .form-item__description {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: gray(500);
    font-size: 85%; }
  .form-item__label.option {
    margin-bottom: 0; }
  .form-item__label--required::after {
    content: "*";
    display: inline-block;
    color: #dc3545;
    margin: 0 0 0 4px; }
  .form-item--radio {
    margin-bottom: 0; }

.form-actions input {
  margin: 0 0.5rem 0 0;
  width: auto; }
  .form-actions input:last-child {
    margin: 0; }

.filter-wrapper {
  margin-top: -1rem; }

.form-wrapper__summary {
  background: #f5f5f5;
  padding: 0.5rem;
  cursor: pointer; }

.form-wrapper__content {
  padding: 0.5rem; }

.form-control {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(34, 36, 38, 0.15);
  border-radius: 3px; }
  .form-control.error {
    border-color: #dc3545; }
  .form-control:focus {
    outline: medium none;
    border-color: #1976d2; }
  .form-control:disabled {
    cursor: not-allowed;
    background: #fafafa;
    font-size: 100%;
    color: #a3a3a3;
    text-shadow: none; }

.links--inline {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex; }
  .links--inline .links__item:not(:last-child) {
    margin-right: 0.5rem; }

.local-actions {
  padding: 0;
  margin: 0 0 1.5rem;
  list-style: none;
  display: flex; }
  .local-actions__item:not(:last-child) {
    margin-right: 0.5rem; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none; }

.messages {
  position: relative;
  margin: 0 0 1rem;
  padding: 1rem 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  color: #5d5d5d;
  background-color: #fafafa;
  border-color: #eeeeee; }
  .messages hr {
    border-top-color: #e1e1e1; }
  .messages a {
    color: #444444; }
  .messages--error {
    color: #9f3a38;
    background-color: #fff6f6;
    border-color: #e0b4b4; }
    .messages--error hr {
      border-top-color: #d9a2a2; }
    .messages--error a {
      color: #792c2b; }
  .messages--status {
    color: #2c662d;
    background-color: #fcfff5;
    border-color: #a3c293; }
    .messages--status hr {
      border-top-color: #95b983; }
    .messages--status a {
      color: #1d421d; }
  .messages--warning {
    color: #573a08;
    background-color: #fffaf3;
    border-color: #c9ba9b; }
    .messages--warning hr {
      border-top-color: #c0af8a; }
    .messages--warning a {
      color: #281b04; }

.pager {
  margin: 1rem auto;
  padding: 0; }
  .pager__items {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style: none outside none;
    display: table; }
  .pager__item {
    display: inline-block;
    color: #8c8c8c;
    margin: 0;
    padding: 0 0.25rem; }
    .pager__item a {
      display: block;
      border-bottom: 3px solid transparent;
      padding: 0 0.25rem 0.25rem;
      font-weight: 600;
      text-decoration: none;
      color: #1976d2; }
    .pager__item.is-active a {
      border-bottom-color: #0e4377;
      color: #0e4377; }

table {
  background: transparent; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: gray(500);
  text-align: left; }

th {
  text-align: left; }

table, .table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-spacing: 0;
  border-collapse: collapse; }
  table > thead > tr > th, .table > thead > tr > th,
  table > thead > tr > td,
  .table > thead > tr > td,
  table > tbody > tr > th,
  .table > tbody > tr > th,
  table > tbody > tr > td,
  .table > tbody > tr > td,
  table > tfoot > tr > th,
  .table > tfoot > tr > th,
  table > tfoot > tr > td,
  .table > tfoot > tr > td {
    padding: 0.75rem;
    line-height: 32px;
    vertical-align: top;
    border-top: 1px solid #e9ecef; }
  table > thead > tr > th, .table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef; }
  table > tbody + tbody, .table > tbody + tbody {
    border-top: 2px solid #e9ecef; }

table > thead > tr > th, .table--condensed > thead > tr > th,
table > thead > tr > td,
.table--condensed > thead > tr > td,
table > tbody > tr > th,
.table--condensed > tbody > tr > th,
table > tbody > tr > td,
.table--condensed > tbody > tr > td,
table > tfoot > tr > th,
.table--condensed > tfoot > tr > th,
table > tfoot > tr > td,
.table--condensed > tfoot > tr > td {
  padding: 5px; }

table > tbody > tr:nth-of-type(odd), .table--srippted > tbody > tr:nth-of-type(odd), .table--stripped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9; }

table > tbody > tr:hover, .table--hover > tbody > tr:hover {
  background-color: #f5f5f5; }

.table-responsive-container {
  overflow-x: auto;
  min-height: 0.01%; }
  @media (max-width: 35.9375em) {
    .table-responsive-container {
      width: 100%;
      margin-bottom: 24px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #e9ecef; }
      .table-responsive-container > .table {
        margin-bottom: 0; }
        .table-responsive-container > .table > thead > tr > th,
        .table-responsive-container > .table > thead > tr > td,
        .table-responsive-container > .table > tbody > tr > th,
        .table-responsive-container > .table > tbody > tr > td,
        .table-responsive-container > .table > tfoot > tr > th,
        .table-responsive-container > .table > tfoot > tr > td {
          white-space: nowrap; }
      .table-responsive-container > .table-bordered {
        border: 0; }
        .table-responsive-container > .table-bordered > thead > tr > th:first-child,
        .table-responsive-container > .table-bordered > thead > tr > td:first-child,
        .table-responsive-container > .table-bordered > tbody > tr > th:first-child,
        .table-responsive-container > .table-bordered > tbody > tr > td:first-child,
        .table-responsive-container > .table-bordered > tfoot > tr > th:first-child,
        .table-responsive-container > .table-bordered > tfoot > tr > td:first-child {
          border-left: 0; }
        .table-responsive-container > .table-bordered > thead > tr > th:last-child,
        .table-responsive-container > .table-bordered > thead > tr > td:last-child,
        .table-responsive-container > .table-bordered > tbody > tr > th:last-child,
        .table-responsive-container > .table-bordered > tbody > tr > td:last-child,
        .table-responsive-container > .table-bordered > tfoot > tr > th:last-child,
        .table-responsive-container > .table-bordered > tfoot > tr > td:last-child {
          border-right: 0; }
        .table-responsive-container > .table-bordered > tbody > tr:last-child > th,
        .table-responsive-container > .table-bordered > tbody > tr:last-child > td,
        .table-responsive-container > .table-bordered > tfoot > tr:last-child > th,
        .table-responsive-container > .table-bordered > tfoot > tr:last-child > td {
          border-bottom: 0; } }

a.tabledrag-handle .handle {
  height: rem(24);
  width: rem(20); }

.tabs {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: wrap; }
  .tabs--primary {
    margin: 0 0 1.5rem;
    border-bottom: 2px solid #eeeeee; }
    .tabs--primary .tabs__menu-item {
      position: relative; }
    .tabs--primary .tabs__menu-item-link {
      display: block;
      padding: 10px;
      color: #202124;
      position: relative; }
      .tabs--primary .tabs__menu-item-link:hover {
        color: #1976d2; }
      .tabs--primary .tabs__menu-item-link.is-active {
        color: #1976d2;
        font-weight: bold;
        position: relative; }
        .tabs--primary .tabs__menu-item-link.is-active::before {
          content: '';
          width: 70%;
          height: 2px;
          background: #1976d2;
          position: absolute;
          bottom: -2px;
          left: 15%; }
        .tabs--primary .tabs__menu-item-link.is-active:hover {
          color: #11508f; }
  .tabs--secondary {
    margin: 0 0 1.5rem; }
    .tabs--secondary .tabs__menu-item {
      position: relative; }
    .tabs--secondary .tabs__menu-item-link {
      display: block;
      padding: 0 10px 10px 10px;
      border-bottom: 1px solid #e0e0e0;
      color: #202124; }
      .tabs--secondary .tabs__menu-item-link:hover {
        color: gray(500);
        border-bottom-color: #1976d2; }
      .tabs--secondary .tabs__menu-item-link.is-active {
        border-bottom-width: 2px;
        border-bottom-color: #1976d2;
        color: #1976d2;
        font-weight: bold; }
        .tabs--secondary .tabs__menu-item-link.is-active:hover {
          color: #11508f; }

.vertical-tabs {
  background: white; }
  .vertical-tabs .vertical-tabs__menu {
    background: #fbfaf8;
    border: 1px solid #dddddd; }
    .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item {
      border: none; }
      .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item a {
        color: #555459;
        border: none; }
      .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected {
        background: #439fe0; }
        .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected strong, .vertical-tabs .vertical-tabs__menu .vertical-tabs__menu-item.selected .summary {
          color: white;
          text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }
  .vertical-tabs .vertical-tabs__panes {
    padding: 1rem; }

.text-subtle {
  color: gray(500); }

.text-highlight {
  color: gray(600); }

.text-info {
  color: theme-color(info); }

.text-success {
  color: theme-color(success); }

.text-warning {
  color: theme-color(warning); }

.text-error {
  color: theme-color(error); }

.highlight, .highlight-info, .highlight-success, .highlight-warning, .highlight-error {
  padding: 1px 4px;
  font-weight: bold;
  text-shadow: none;
  border-radius: 3px;
  color: #d7dae0;
  background: #31363f; }

.highlight-info {
  color: white;
  background: #9e9e9e; }

.highlight-success {
  color: #dff3d5;
  background: #67c23a; }

.highlight-warning {
  color: #fff4d3;
  background: #ffc107; }

.highlight-error {
  color: #fae3e5;
  background: #dc3545; }

.ui-widget {
  font-family: "Helvetica", sans-serif; }

.ui-widget-overlay {
  background: black;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10; }

.ui-dialog {
  z-index: 100;
  background: white;
  color: #202124;
  padding: 0;
  border-radius: 4px;
  border: transparent !important;
  max-width: 100%;
  font-size: 16px; }
  .ui-dialog .ui-widget-header {
    border-radius: 4px;
    background: transparent;
    color: #202124;
    padding: 1rem 1rem 0.5rem;
    border: none;
    border-bottom: none; }
    .ui-dialog .ui-widget-header .ui-dialog-title {
      color: #333333;
      font-weight: bold;
      font-size: 16px; }
    .ui-dialog .ui-widget-header .ui-dialog-titlebar-close {
      float: right;
      background: none;
      width: auto;
      border: none;
      text-indent: 0;
      font-size: 28px;
      line-height: 1; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:before {
        content: "\F5AD";
        font-family: "Material Design Icons";
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        text-decoration: inherit;
        margin-right: 0; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close:before {
        position: relative;
        top: -6px; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-icon {
        display: none; }
        .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-icon:before {
          margin: 0; }
      .ui-dialog .ui-widget-header .ui-dialog-titlebar-close .ui-button-text {
        padding: 0;
        font-size: "Helvetica", sans-serif;
        line-height: 32px; }
  .ui-dialog .ui-dialog-content {
    padding: 0 1rem;
    border: none;
    overflow: auto; }
  .ui-dialog .ui-dialog-buttonpane {
    background: transparent;
    padding: 0 1rem 1rem;
    border: none;
    border-top: none; }
    .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
      float: none;
      display: table;
      margin: 0 auto; }
      .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button {
        color: white;
        background-color: #1976d2;
        background-image: none;
        border-color: #1976d2;
        transition: all .15s ease-in-out;
        box-shadow: none;
        padding: 8px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:focus, .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:hover {
          color: white;
          background-color: #145ca4;
          border-color: #12579b; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:focus {
          outline: none;
          box-shadow: 0 0 0 3px rgba(25, 118, 210, 0.5); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:disabled {
          background-color: #1976d2;
          border-color: #1976d2;
          opacity: .65; }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button:active {
          color: white;
          background-color: #145ca4;
          background-image: none;
          border-color: #12579b;
          box-shadow: 0 0 0 3px rgba(25, 118, 210, 0.5); }
        .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset .button .ui-button-text {
          padding: 0; }

.views-mini-pager__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center; }

.views-mini-pager__item--label {
  padding: 0.5rem;
  color: #757575; }

.views-mini-pager__item-link {
  padding: 0.5rem;
  display: block; }

.form-search-block-form {
  display: flex;
  justify-content: flex-start;
  align-items: center; }

.form-search-block-form__keys {
  margin-bottom: 0px;
  width: 310px; }

.form-search {
  border-radius: 0px;
  border: none; }

.button {
  background-color: #fb9a3a;
  border-radius: 0px;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  cursor: pointer; }

.main-layout {
  width: 100%;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 36em) {
    .main-layout {
      width: 33.75em;
      max-width: 100%; } }
  @media (min-width: 48em) {
    .main-layout {
      width: 45em;
      max-width: 100%; } }
  @media (min-width: 62em) {
    .main-layout {
      width: 60em;
      max-width: 100%; } }
  @media (min-width: 75em) {
    .main-layout {
      width: 71.25em;
      max-width: 100%; } }

.app__content {
  width: 100%;
  max-width: 970px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 15px;
  background-color: #fafafa; }

.region-content {
  width: 100%;
  padding: 20px 15px; }

.view-frontpage-page-1__content--empty,
.view-frontpage-page-1__feed-icons {
  display: none; }

.block-news-page-title__content {
  border-bottom: 2px solid #68ac3e;
  margin-bottom: 25px; }
  .block-news-page-title__content h1 {
    font-family: "Ubuntu Condensed", Sans-Serif;
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    color: #68ac3e;
    cursor: pointer;
    text-transform: uppercase; }

.js-quickedit-page-title {
  font-family: "Ubuntu Condensed", Sans-Serif;
  font-size: 28px;
  line-height: 40px;
  font-weight: 400;
  color: #68ac3e;
  cursor: pointer;
  text-transform: uppercase; }

.view-news-page-news__content .cols-0 tbody tr {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px; }
  .view-news-page-news__content .cols-0 tbody tr:hover {
    background: none; }

.view-news-page-news__content .cols-0 tbody tr td {
  border-collapse: collapse;
  border: none; }

.view-news-page-news__content .views-field-field-image {
  width: 100%;
  padding: 0;
  max-width: 136px;
  padding: 0;
  margin-top: 8px; }
  .view-news-page-news__content .views-field-field-image img {
    max-width: 136px;
    min-width: 136px;
    height: 84px;
    margin: 0; }

.view-news-page-news__content .views-field-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  line-height: 20px;
  color: #ff9a39;
  padding-left: 30px; }
  .view-news-page-news__content .views-field-body a {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #69ab2f;
    margin-top: 5px;
    margin-bottom: 15px; }
    .view-news-page-news__content .views-field-body a:hover {
      text-decoration: underline; }
  .view-news-page-news__content .views-field-body p {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-weight: 400; }

/************************стилі для сторінок пунктів меню************************/
.view-news-articles-page__content .cols-0 tbody tr,
.view-news-page-investigation__content .cols-0 tbody tr,
.view-news-page-sales__content .cols-0 tbody tr,
.view-news-page-health__content .cols-0 tbody tr,
.view-news-page-lifestyle__content .cols-0 tbody tr {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px; }
  .view-news-articles-page__content .cols-0 tbody tr:hover,
  .view-news-page-investigation__content .cols-0 tbody tr:hover,
  .view-news-page-sales__content .cols-0 tbody tr:hover,
  .view-news-page-health__content .cols-0 tbody tr:hover,
  .view-news-page-lifestyle__content .cols-0 tbody tr:hover {
    background: none; }

.view-news-articles-page__content .cols-0 tbody tr td,
.view-news-page-investigation__content .cols-0 tbody tr td,
.view-news-page-sales__content .cols-0 tbody tr td,
.view-news-page-health__content .cols-0 tbody tr td,
.view-news-page-lifestyle__content .cols-0 tbody tr td {
  border-collapse: collapse;
  border: none; }

.view-news-articles-page__content .views-field-field-image,
.view-news-page-investigation__content .views-field-field-image,
.view-news-page-sales__content .views-field-field-image,
.view-news-page-health__content .views-field-field-image,
.view-news-page-lifestyle__content .views-field-field-image {
  width: 100%;
  padding: 0;
  max-width: 136px;
  padding: 0;
  margin-top: 8px; }
  .view-news-articles-page__content .views-field-field-image img,
  .view-news-page-investigation__content .views-field-field-image img,
  .view-news-page-sales__content .views-field-field-image img,
  .view-news-page-health__content .views-field-field-image img,
  .view-news-page-lifestyle__content .views-field-field-image img {
    max-width: 136px;
    min-width: 136px;
    height: 84px;
    margin: 0; }

.view-news-articles-page__content .views-field-body,
.view-news-page-investigation__content .views-field-body,
.view-news-page-sales__content .views-field-body,
.view-news-page-health__content .views-field-body,
.view-news-page-lifestyle__content .views-field-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  line-height: 20px;
  color: #ff9a39;
  padding-left: 30px; }
  .view-news-articles-page__content .views-field-body a,
  .view-news-page-investigation__content .views-field-body a,
  .view-news-page-sales__content .views-field-body a,
  .view-news-page-health__content .views-field-body a,
  .view-news-page-lifestyle__content .views-field-body a {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #69ab2f;
    margin-top: 5px;
    margin-bottom: 15px; }
    .view-news-articles-page__content .views-field-body a:hover,
    .view-news-page-investigation__content .views-field-body a:hover,
    .view-news-page-sales__content .views-field-body a:hover,
    .view-news-page-health__content .views-field-body a:hover,
    .view-news-page-lifestyle__content .views-field-body a:hover {
      text-decoration: underline; }
  .view-news-articles-page__content .views-field-body p,
  .view-news-page-investigation__content .views-field-body p,
  .view-news-page-sales__content .views-field-body p,
  .view-news-page-health__content .views-field-body p,
  .view-news-page-lifestyle__content .views-field-body p {
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-weight: 400; }

.block-main__menu {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  background-color: #f0f0f0;
  list-style: none;
  padding: 0 15px; }

.block-main__menu-item {
  border-right: 1px solid #c6c6c6; }

.block-main__menu-item:first-child {
  border-left: 1px solid #c6c6c6; }

.block-main__menu-item-link {
  padding: 4px 12px;
  color: #000000; }
  .block-main__menu-item-link:hover {
    color: #68ac3e; }

.region-sidebar-first {
  max-width: 320px;
  min-width: 320px; }

.block-news-tools {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; }

.block-news-tools-title {
  font-size: 20px;
  line-height: 24px;
  color: #202124;
  font-weight: 700; }

.block-news-tools__menu {
  padding: 0px;
  margin: 0px; }

.block-news-tools__menu-item {
  margin-left: 10px; }

.block-news-tools__menu-item-link {
  font-size: 14px;
  line-height: 20px; }

.views-block-news-block-left {
  max-height: 1480px;
  box-shadow: 0 0 8px 1px #CCCCCC; }

.views-block-news-block-left__title {
  width: 100%;
  border-bottom: 2px solid #68ac3e;
  font-family: "Ubuntu Condensed", Sans-Serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #68ac3e;
  cursor: pointer;
  padding: 13px 5px 5px;
  text-transform: uppercase; }
  .views-block-news-block-left__title:hover {
    background-color: #EEEEEE; }

.view-news-block-left__content {
  padding: 20px 15px; }

.view-news-block-left__row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px; }

.view-news-block-left__item-created {
  width: 40px;
  margin-right: 5px; }

.view-news-block-left__item-created-content {
  font-size: 14px;
  line-height: 20px;
  color: #333333; }

.view-news-block-left__item-title {
  width: 100%; }

.view-news-block-left__item-title-content a {
  font-size: 14px;
  line-height: 20px;
  color: #000000; }
  .view-news-block-left__item-title-content a:hover {
    color: #68ac3e; }

.region-sidebar-second {
  max-width: 320px;
  min-width: 320px; }

.views-block-news-block-right {
  margin-top: 30px;
  max-height: 1480px;
  box-shadow: 0 0 8px 1px #CCCCCC; }

.views-block-news-block-right__title {
  width: 100%;
  border-bottom: 2px solid #68ac3e;
  font-family: "Ubuntu Condensed", Sans-Serif;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
  color: #68ac3e;
  cursor: pointer;
  padding: 24px 5px 5px;
  text-transform: uppercase; }

.view-news-block-right__content {
  padding: 20px 15px; }

.view-news-block-right__row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px; }

.view-news-block-right__item-created {
  width: 40px;
  margin-right: 5px; }

.view-news-block-right__item-created-content {
  font-size: 14px;
  line-height: 20px;
  color: #333333; }

.view-news-block-right__item-title {
  width: 100%; }

.view-news-block-right__item-title-content a {
  font-size: 14px;
  line-height: 20px;
  color: #000000; }
  .view-news-block-right__item-title-content a:hover {
    color: #68ac3e; }

.view-news-block-main-page__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.view-news-block-main-page__row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 360px; }

.view-news-block-main-page__item-field-image {
  padding: 0;
  margin: 20px 0 0; }

.view-news-block-main-page__item-field-image-content img {
  width: 355px;
  height: 220px; }

.view-news-block-main-page__item-title {
  margin-top: 15px; }

.view-news-block-main-page__item-title-content a {
  font-family: "Ubuntu Condensed", Sans-Serif;
  font-size: 31px;
  line-height: 34px;
  color: #000000;
  font-weight: 500; }
  .view-news-block-main-page__item-title-content a:hover {
    color: #69ac3f; }

.view-news-block-main-page__item-body-content {
  margin-top: 20px;
  margin-bottom: 20px; }
  .view-news-block-main-page__item-body-content p {
    font-size: 14px;
    line-height: 20px;
    color: #333333; }

.view-news-block-main-page__item-created-content {
  font-size: 14px;
  line-height: 20px;
  color: #ff9a39; }

.views-block-news-top-news-block {
  width: 100%;
  max-width: 360px; }

.views-block-news-top-news-block__title {
  width: 100%;
  border-bottom: 2px solid #68ac3e;
  margin-bottom: 25px;
  font-family: "Ubuntu Condensed", Sans-Serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #68ac3e;
  padding: 13px 5px 5px;
  text-transform: uppercase; }

.view-news-top-news-block__content .cols-0 tbody tr {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px; }
  .view-news-top-news-block__content .cols-0 tbody tr:hover {
    background: none; }

.view-news-top-news-block__content .cols-0 tbody tr td {
  border-collapse: collapse;
  border: none; }

.view-news-top-news-block__content .views-field-field-image {
  width: 100%;
  padding: 0;
  max-width: 136px;
  padding: 0;
  margin-top: 8px; }
  .view-news-top-news-block__content .views-field-field-image img {
    max-width: 136px;
    min-width: 136px;
    height: 84px;
    margin: 0; }

.view-news-top-news-block__content .views-field-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 14px;
  line-height: 20px;
  color: #ff9a39;
  padding-left: 15px; }
  .view-news-top-news-block__content .views-field-title a {
    font-family: "Ubuntu Condensed", Sans-Serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 15px; }
    .view-news-top-news-block__content .views-field-title a:hover {
      color: #69ac3f; }

.div_div {
  display: flex;
  justify-content: flex-start; }

.pager__items {
  margin: 0 auto; }

.pager__item a {
  font-size: 14px;
  line-height: 17px;
  color: #000000; }
  .pager__item a:hover {
    color: #69ac3f;
    text-decoration: underline; }

.pager__items {
  display: flex;
  justify-content: center;
  align-items: center; }
  .pager__items .is-active a {
    font-size: 18px;
    line-height: 17px;
    color: #000000;
    text-decoration: none;
    border: none; }

.header__top {
  width: 100%;
  max-width: 970px;
  margin-right: auto;
  margin-left: auto; }

.header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #68ac3e;
  padding: 0 15px; }

.header__date {
  padding: 0 30px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  line-height: 23px; }

.footer {
  width: 100%;
  max-width: 970px;
  margin-right: auto;
  margin-left: auto; }

.footer__content {
  background-color: #68ac3e;
  padding: 35px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; }

.block-footer__menu {
  width: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 25px; }
  .block-footer__menu-item-link {
    color: #ffffff;
    font-size: 14px;
    line-height: 27px; }
    .block-footer__menu-item-link:hover {
      color: #ff9a39; }

.footer__text {
  font-size: 11px;
  line-height: 16px;
  color: #ffffff;
  text-align: center; }

.footer__social {
  background-color: #f2f2f2;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.footer__social-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer; }

.footer__facebook,
.footer__gmail,
.footer__twitter {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: cover; }

.footer__social-text {
  font-size: 17px;
  line-height: 24px;
  color: #777777;
  margin-left: 4px; }

.footer__logo {
  margin-bottom: 15px; }
  .footer__logo img {
    width: 60px;
    height: 22.5px; }

.node-post-full__head .node-post-full__submitted span {
  font-size: 14px;
  line-height: 20px;
  color: #a3b0b8;
  font-weight: 400;
  font-family: "Ubuntu Condensed", Sans-Serif; }

.node-post-full__field-image-label {
  display: none; }

.node-post-full__field-image {
  margin-top: 10px;
  margin-bottom: 10px; }

.node-post-full__body p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333; }

.node-post-full__field-text-label {
  display: none; }

.node-post-full__field-text p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333; }

.node-post-full__field-paragraphs-label,
.paragraph-image-and-text__field-img-label,
.media-image__field-media-image-label,
.paragraph-image-and-text__field-body-label,
.paragraph-text__field-body-label,
.paragraph-image__field-image-label,
.paragraph-gallery__field-images-label {
  display: none; }

.paragraph-image-and-text__field-img {
  margin-top: 10px;
  margin-bottom: 10px; }

.paragraph-image-and-text__field-body p {
  font-size: 13px;
  line-height: 24px;
  color: #666666;
  text-align: center; }

.paragraph-text__field-body {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333; }

.paragraph-image__field-image {
  margin-top: 10px;
  margin-bottom: 10px; }

.paragraph-gallery__field-images-items {
  margin-top: 10px; }

.paragraph-gallery__field-images-item {
  margin: 5px 0; }

.node-post-full__field-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 3px solid #efefef; }

.node-post-full__field-tags-label {
  font-size: 13px;
  line-height: 13px;
  color: #a3b0b8;
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Ubuntu Condensed",Sans-Serif;
  margin-right: 5px; }
  .node-post-full__field-tags-label:after {
    content: ":";
    font-size: 13px;
    line-height: 13px;
    color: #a3b0b8;
    text-transform: uppercase;
    font-weight: 200;
    font-family: "Ubuntu Condensed",Sans-Serif; }

.node-post-full__field-tags-items {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.node-post-full__field-tags-item {
  margin: 0 3px; }
  .node-post-full__field-tags-item:after {
    content: ',';
    font-size: 13px;
    line-height: 13px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 200;
    font-family: "Ubuntu Condensed",Sans-Serif; }
  .node-post-full__field-tags-item:last-child:after {
    content: none; }
  .node-post-full__field-tags-item a {
    font-size: 13px;
    line-height: 13px;
    color: #a3b0b8;
    text-transform: uppercase;
    font-weight: 200;
    font-family: "Ubuntu Condensed",Sans-Serif; }
    .node-post-full__field-tags-item a:hover {
      color: #67ac3e;
      text-decoration: underline; }

/*# sourceMappingURL=maps/components.css.map */
