.header {
  &__top {
    width: 100%;
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
  }
  &__top-sidebar {
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f0f0f0;
  }
  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #68ac3e;
    padding: 0 15px;
  }
  &__date {
    padding: 0 30px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 23px;
  }
}
.block-account__menu {
  .block-account__menu-item-link {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    font-family: "Ubuntu Condensed", sans-serif;
    &:hover {
      color: #ff9a39;
      text-decoration: underline;
    }
  }
}
