.header {
  &__top {
    width: 100%;
    max-width: 970px;
    margin-right: auto;
    margin-left: auto;
  }
  &__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #68ac3e;
    padding: 0 15px;
  }
  &__date {
    padding: 0 30px;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 23px;
  }
}
